img {
    max-width: 100%;
    border: darkgray 1px solid;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.greska {
    color: red;
    font-size: 0.8em;
    border: red solid 2px;
    border-radius: 5px;
    background-color: lightpink;
    padding: 0.7em;
    margin-top: 0.5em;
    width: 100%;
}

.sirina {
    width: 100%;
}

