<audio appZvucnaSignalizacija #tiktak="zvucnaSignalizacija" loop src="/assets/zvuk/tiktak.mp3"></audio>
<audio appZvucnaSignalizacija #pola="zvucnaSignalizacija" src="/assets/zvuk/halfway.mp3"></audio>
<audio appZvucnaSignalizacija #odbrojavanje="zvucnaSignalizacija" src="/assets/zvuk/321.mp3"></audio>
<audio appZvucnaSignalizacija #nekst="zvucnaSignalizacija" src="/assets/zvuk/next.mp3"></audio>
<audio appZvucnaSignalizacija #sledeca="zvucnaSignalizacija" [src]="'/assets/zvuk/nazivi/' + zvukSledece"></audio>

<!-- <p>{{ '/assets/zvuk/nazivi/' + zvukSledece }}</p> -->

