/* You can add global styles to this file, and also import other style files */
@import './../node_modules/bootstrap/dist/css/bootstrap.css';

.pt-70-px {
    padding-top: 70px;
}

.naslov {
    color: darkslategrey;
    text-align: center;
}

.pokazivac {
    cursor: pointer;
}

.okvir:hover {
    border: dodgerblue solid 1px;
}

.ctxt {
    text-align: center;
}

.preostalo {
    font-size: 1.5em;
    text-align: center;
    color: darkred;
    font-weight: bold;
}

.naslovV {
    text-align: center;
    color: darkslategray;
    font-size: 2.1em;
}